Source: madshelf
Section: media
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, pkg-config
XCS-Cross-Build-Depends: libextractor-mini-dev, libsqlite3-dev, libchoicebox-dev, libeina-dev, libecore-dev, libefreet-dev, libedje-dev, libkeys-dev, eoi-dev
Build-Depends: debhelper (>= 7), autoconf, automake, pkg-config, libextractor-mini-dev, libsqlite3-dev, libchoicebox-dev, libeina-dev, libecore-dev, libefreet-dev, libedje-dev, libkeys-dev, eoi-dev
Priority: optional
Standards-Version: 3.6.2
Format: 3.0 (native)

Package: madshelf
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: madshelf-settings-v3 (<< 0.2), madshelf-settings-n516 (<< 0.2)
Description: Bookshelf application
 Bookshelf application.

Package: madshelf-settings-n516
Architecture: all
Description: Bookshelf application -- N516-specific configuration
 Bookshelf application.
 .
 This package contains key bindings for N516.
