Source: madshelf
Section: gui
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, libtool, pkg-config, libedje-bin
XCS-Cross-Build-Depends: libextractor-mini-dev, libsqlite3-dev, libeina-dev, libecore-dev (>= 0.9.9.49898-5), libefreet-dev, libedje-dev, libkeys-dev, libeoi-dev (>= 0.2.1), libevas-dev (>= 0.9.9.063-9)
Build-Depends: debhelper (>= 7), autoconf, automake, pkg-config, libtool, libextractor-mini-dev, libsqlite3-dev, libeina-dev, libecore-dev (>= 0.9.9.49898-5), libefreet-dev, libedje-dev, libkeys-dev, libeoi-dev (>= 0.2.1), libedje-bin, libevas-dev (>= 0.9.9.063-9)
Priority: optional
Standards-Version: 3.8.3

Package: madshelf
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: madshelf-settings-v3 (<< 0.2), madshelf-settings-n516 (<< 0.2)
Description: Bookshelf application
 Bookshelf application.

Package: madshelf-settings-n516
Architecture: all
Description: Bookshelf application -- N516-specific configuration
 Bookshelf application.
 .
 This package contains key bindings for N516.

Package: madshelf-dbg
Architecture: any
Priority: extra
Depends: madshelf (= ${binary:Version})
Description: Bookshelf application -- debugging symbols
 Bookshelf application.
 .
 This package contains debugging symbols.
