Source: madshelf
Section: media
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
XCS-Cross-Host-Build-Depends: debhelper (>= 7), autoconf, automake, pkg-config
XCS-Cross-Build-Depends: libextractor-dummy-dev, libsqlite3-dev, libchoicebox-dev, libeina-dev, libecore-dev, libefreet-dev, libedje-dev, eoi-dev
Build-Depends: debhelper (>= 7), autoconf, automake, pkg-config, libextractor-dummy-dev, libsqlite3-dev, libchoicebox-dev, libeina-dev, libecore-dev, libefreet-dev, libedje-dev, eoi-dev
Priority: optional
Standards-Version: 3.6.2
Format: 3.0 (native)

Package: madshelf
Architecture: any
Depends: ${shlibs:Depends}, echoicebox-data (>= 0.1-17)
Conflicts: madshelf-settings-v3 (<< 0.2), madshelf-settings-n516 (<< 0.2)
Description: Bookshelf application
 Bookshelf application.
