#!/usr/bin/make -f

DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS= -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	CFLAGS="$(CFLAGS)" ./autogen.sh --host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) --prefix=/usr --sysconfdir=/etc
	touch $@

build: build-stamp
build-stamp: configure
	dh_testdir
	$(MAKE)
	touch build-stamp

clean:
	dh_testdir
	dh_clean
	[ ! -f Makefile ] || $(MAKE) distclean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	$(MAKE) install DESTDIR=$(CURDIR)/debian/madshelf

	mkdir -p $(CURDIR)/debian/madshelf/etc/madshelf
	install -m 0644 $(CURDIR)/debian/disks.conf $(CURDIR)/debian/madshelf/etc/madshelf

	mkdir -p $(CURDIR)/debian/madshelf-settings-n516/etc/keys
	install -m 0644 $(CURDIR)/debian/n516-keys.ini $(CURDIR)/debian/madshelf-settings-n516/etc/keys/madshelf.ini

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_compress
	dh_fixperms
	dh_strip --dbg-package=madshelf-dbg
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_builddeb

binary-indep: build install

binary: binary-arch binary-indep

.PHONY: clean install build binary binary-arch binary-indep
