[Desktop Entry]
Name=madaudio
GenericName=E-book Audioplayer
Comment=E-book Audioplayer
TryExec=madaudio
Exec=madaudio %F
StartupNotify=true
Terminal=false
Type=Application
Categories=Audio;
MimeType=audio/mpeg
